.test {
  background-color: rgb(221, 27, 27);
}
.bor_header_left {
  position: relative;
  display: inline-block;
  height: 3px;
  background: rgb(0, 0, 0);
  width: 20px;
  border-radius: 43px;
  margin-right: 2%;
  top: -3px;
}

.bor_header_right {
  position: relative;
  display: inline-block;
  height: 3px;
  background: rgb(0, 0, 0);
  width: 20px;
  border-radius: 43px;
  margin-left: 2%;
  top: -3px;
}
